{% macro footer() %}
<footer class="site-footer text-muted">
	<div class="container">
		<div class="d-flex justify-content-between">
			<div>
				<p class="copyright-text">Copyright &copy; 2024 - 2024
					<a href="#">MJZK</a>
				</p>
			</div>
		</div>
	</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZGZF8S1VKY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZGZF8S1VKY');
</script>

</footer>
{% endmacro %}